/src/main/resources/gitkit-server-config.json
/src/main/resources/application.properties
/src/main/resources/wolfbeacon-42-a514a0a7c765.p12

/wolfbeacon-server.iml
target/
.idea/
.fuse_hidden*
/local config files/